:root {
  color-scheme: light dark;
}

:root {
  --background-color: #fafafa;
  --nav-bar-color: #ffffffe2;
  --foreground-color: #010101;

  --link-color: #237bf6;

  --max-content-width: 900px;
  --aside-width: 20rem;
  --content-padding: 1rem;

  --body-font: "Avenir Next", "Helvetica Neue", "Helvetica", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #000;
    --foreground-color: #ededec;
    --nav-bar-color: #191919c7;
  }
}

html {
  background-color: var(--background-color);
  line-height: 1.4;
  font-family: var(--body-font);
}

body {
  margin: 0;
}

header {
  background-color: var(--nav-bar-color);
  position: sticky;
  top: 0;

  nav {
    max-width: var(--max-content-width);
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.2rem var(--content-padding);

    a {
      color: var(--foreground-color) !important;
      font-weight: bold;
    }

    .title {
      margin-right: auto;
      display: flex;
      align-items: center;
      font-size: 1.5rem;

      img {
        width: 50px;
        height: 50px;
        border-radius: 25px;
        margin-right: 0.5rem;
      }
    }
  }
}

main {
  max-width: var(--max-content-width);
  padding: var(--content-padding);
  margin: 0 auto;
  overflow: hidden;

  img {
    width: 100%;
  }
}

a,
a:visited {
  text-decoration: none;
  color: var(--link-color);
}
a:hover {
  text-decoration: underline;
}

@media (width < 900px) {
  header {
    position: initial;

    nav {
      flex-wrap: wrap;
      justify-content: center;

      .title {
        width: 100%;
        justify-content: center;
      }
    }
  }
}

aside > ul {
  list-style: none;
  display: inline;
  padding: 0;
  margin: 0;
}

@media (width < calc(900px + 21rem)) {
  aside > ul {
    > li:not(:last-child)::after {
      content: ", ";
    }

    li {
      display: inline;
    }
  }
}

@media (width >= calc(900px + 21rem)) {
  aside {
    font-family: "Baskerville", serif;
    position: absolute;
    text-align: right;
    margin-left: calc(-10.5rem);
    width: calc(10rem);
  }
}

.printOnly {
  display: none;
}

@media print {
  nav a:not(:first-child) {
    display: none;
  }

  .printOnly {
    display: block;
  }

  .page-break-after {
    break-after: page;
  }
}

ul.archive {
  list-style: none;
  padding: 0;
  margin: 0;

  .date {
    color: var(--foreground-color);
  }
}
